<IfModule mod_rewrite.c>
    Options +FollowSymLinks -Indexes    
    
    RewriteEngine On
    RewriteBase /
    

</IfModule>

# Tests
# http://localhost/templates/offers.html
# http://localhost/index.php?page=profile&id=5
# http://localhost/index.php?page=offers&subject_id=1&postal_code=2341TS


# Redirect to www
# RewriteCond %{HTTP_HOST} ^[^.]+\.[^.]+$
# RewriteCond %{HTTPS}s ^on(s)|
# RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
