<IfModule mod_rewrite.c>
    
    # Set Options for following symbolic links and not allowing indexes in request
    Options +FollowSymLinks -Indexes
    
    # Turn on rewriteEngine
    RewriteEngine On
    RewriteBase /


    # Redirect every request containing /templates/ to 403 error
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s.*/templates/.*$ [NC] 
    RewriteRule .* - [F,NS,L]

    # To externally redirect 
    # vlakbijles.nl/index.php?page=X&id=XX to vlakbijles.nl/X/XX
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]
    RewriteCond %{QUERY_STRING} ^page=([A-Za-z]*)&id=([0-9]*)$
    RewriteRule ^ %1/%2? [R=302,L]
    
    # To internally redirect 
    # vlakbijles.nl/X/XX to vlakbijles.nl/index.php?page=X&id=XX
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{DOCUMENT_ROOT}/$1/$2 !-f
    RewriteRule ^([A-Za-z]+)/([0-9]+)/?$ index.php?page=$1&id=$2 [L]
    
    
    #page=offers&order_by=distance&p=1&level_id=&subject_id=152&subject_name=Informatica&postdal_code=1075CL
    # To externally redirect 
    # vlakbijles.nl/index.php?page=X&order_by=XX&p=XXX&level_id=XXXX&subject_id=XX&subject_name=XXX&postal_code=XXXX to vlakbijles.nl/X/XX/XXX/XXXX
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]
    RewriteCond %{QUERY_STRING} ^page=([A-Za-z]+)&order_by=([\w]+)&range=([0-9]*)&p=([0-9]+)&level_id=([0-9]*)&subject_id=([0-9]*)&subject_name=(.*)&postal_code=([0-9]{4}[A-Za-z]{2})$
    RewriteRule ^ %1/%2/%3/%4/%5/%6/%7/%8? [R=302,L]
    
    ###localhost/index.php?page=offers&order_by=distance&p=1&level_id=&subject_id=387&subject_name=Vrijetijdsmanagement&postal_code=1075CL
    # To internally redirect 
    # vlakbijles.nl/X/XX/XXX/XXX to vlakbijles.nl/index.php?page=X&subject_id=XX&subject_name=XXX&postal_code=XXXX
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{DOCUMENT_ROOT} !-f
    RewriteRule ^([A-Za-z]+)/(\w+)/([0-9]*)/([0-9]*)/([0-9]*)/([0-9]*)/(.*)/([0-9]{4}[A-Za-z]{2})/?$ index.php?page=$1&order_by=$2&range=$3&p=$4&level_id=$5&subject_id=$6&subject_name=$7&postal_code=$8 [L]

    # Redirect localhost/index.php to localhost, no internal redirect needed  
    # since vlakbijles.nl automatically loads index.php
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/index\.php$ [NC]
    RewriteRule ^ /? [R=302]

</IfModule>

# Tests
# http://vlakbijles.nl/templates/offers.html
# http://vlakbijles.nl/index.php?page=profile&id=5
# http://vlakbijles.nl/index.php?page=offers&subject_id=1&subject_name=Aardwetenschaooen&postal_code=2341TS
