<script src="js/loadlevels.js"></script>
<script src="js/addoffers.js"></script>
<!-- Add subjects modal -->
<div id="addOffersModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xs">
        <form role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Vakken toevoegen</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" id="addOffers">

                        <div class="row">
                            <div class="col-sm-7" style="padding: 0 0 10px 0;">
                                <input type="text" class="form-control subjectName" placeholder="Vaknaam...">
                            </div>
                            <div class="col-sm-3 col-xs-6" style="padding: 0 0 10px 0;">
                                <select class="form-control levelSelector">
                                </select>
                            </div>
                            <div class="col-sm-2 col-xs-6" style="padding: 0 0 0 10px;">
                                <button id="addOfferBtn" class="btn btn-block btn-success glyphicon" type="button">&#x2b;</button>
                            </div>
                        </div>

                        <div class="row hidden" id="extraOfferRow">
                            <div class="col-sm-7" style="padding: 0 0 10px 0;">
                                <input type="text" class="form-control subjectName" placeholder="Vaknaam...">
                            </div>
                            <div class="col-sm-3 col-xs-6" style="padding: 0 0 10px 0;">
                                <select class="form-control levelSelector">
                                </select>
                            </div>
                            <div class="col-sm-2 col-xs-6" style="padding: 0 0 0 10px;">
                                <button class="btn btn-block btn-danger glyphicon removeOfferBtn" type="button">&#x2212;</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Toevoegen</button>
                </div>
            </div>
        </form>
    </div>
</div>
