<script>
$(function() {
$(".entry").append("<input id=3 />");
});
</script>
<!-- Add subjects modal -->
<div id="addsubjectsmodal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xs">
        <form role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Vakken toevoegen</h4>
                </div>
                <div class="modal-body">
                    <!-- <div class="entry input&#45;group col&#45;xs&#45;3"> -->
                    <!--     <input class="form&#45;control" name="fields[]" type="text" placeholder="Type something" /> -->
                    <!--     <span class="input&#45;group&#45;btn"> -->
                    <!--         <button class="btn btn&#45;success btn&#45;add" type="button"> -->
                    <!--             <span class="glyphicon glyphicon&#45;plus"></span> -->
                    <!--         </button> -->
                    <!--     </span> -->
                    <!-- </div> -->
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Versturen</button>
                </div>
            </div>
        </form>
    </div>
</div>
