<!-- Contact user modal -->
<div id="contactusermodal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xs">
        <form role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Contact opnemen met <?=$name?> <?=$surname?></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="contact_offer" class="control-label">Bijles</label>
                        <select name="contact_offer" class="form-control" id="contact_offer">

                            <?php foreach ($offers as $offer) { ?>
                            <option value=<?=$offer["id"]?>><?=$offer["subject.name"]?> (<?=$offer["level.name"]?>)</option>
                            <?php } ?>

                        </select>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" id="contact_msg" placeholder="Jouw bericht..."></textarea>
                    </div>
                    <p class="text-muted">Je bericht zal worden doorgestuurd naar <?=$name?> <?=$surname?>, al het hierop volgende contact zal via email plaatsvinden</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Versturen</button>
                </div>
            </div>
        </form>
    </div>
</div>
