<!-- Edit profile modal -->
<div id="editProfileModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xs">
        <form role="form" id="editProfileForm" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Profiel aanpassen</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group has-feedback">
                        <label for="editEmail" class="control-label">Emailadres</label>
                        <input type="text" id="editEmail" class="form-control" name="editEmail" value="<?=$email?>">
                    </div>
                    <div class="form-group has-feedback">
                        <label for="editPostalCode" class="control-label">Postcode</label>
                        <input type="text" id="editPostalCode" class="form-control" name="editPostalCode" maxlength="6" value="<?=$zipcode?>">
                    </div>
                    <div class="form-group has-feedback">
                        <label for="editDesc" class="control-label">Beschrijving</label>
                        <p id="charCounter" class="pull-right"></p>
                        <textarea id="editDesc" class="form-control" name="editDesc" rows="4" maxlength="1000" style="resize:vertical;"><?=$description?></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Versturen</button>
                </div>
            </div>
        </form>
    </div>
</div>
