<!-- Login modal -->
<?php if (!$logged_in) { ?>
<script type="text/javascript" charset="utf-8">
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      getFacebookData(response);
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  function getFacebookData(response) {
      $.ajax({
          async: true,
          url: "facebook/fb_auth.php?access_token=" + response.authResponse.accessToken,
          dataType: "json",
          success: function (data) {
              $("#loginBody").addClass("hidden")
              $("#modalTitle").val("Registreren")
              $("#registerBody").removeClass("hidden")
              $("#registerFooter").removeClass("hidden")
              $("#regEmail").val(data.email);
              $("#regName").text(data.name);
              $("#regSurname").text(data.surname);
              $("#regPicture").attr("src", data.picture);
              $("#regAccesstoken").val(data.access_token);
          }
      });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1597503327174282',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });


  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

</script>
<?php } ?>

<div id="loginmodal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalTitle">Inloggen</h4>
            </div>
            <div class="modal-body" id="loginBody">
                <div class="form-group text-center" >
                    <fb:login-button size="large" scope="public_profile,email" onlogin="checkLoginState();">
                    Inloggen met Facebook
                    </fb:login-button>
                    <div id="test">
                    </div>
                </div>
            </div>
            <form role="form" method="POST" action="register.php">
                <div class="modal-body form-group hidden" id="registerBody">
                    <img src="" class="img-responsive img-thumbnail center-block bottommargin" id="regPicture">
                    <h2 class="text-center">
                        <span id="regName"></span>
                        <span id="regSurname"></span>
                    </h2>
                    <div class="form-group">
                        <input type="email" class="form-control" name="reg_email" id="regEmail" placeholder="E-mailadres">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="reg_zipcode" id="regZipcode" placeholder="Postcode">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" name="reg_description" id="regDescription" placeholder="Beschrijving"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="reg_acces_token" id="regAccesstoken">
                    </div>
                </div>
                <div class="modal-footer hidden" id="registerFooter">
                    <button type="submit" class="btn btn-primary">Registreren</button>
                </div>
            </form>
        </div>
    </div>
</div>
