<script src="/js/addreview.js"></script>

<!-- Review modal -->
<div id="reviewModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xs">
        <form role="form" id="reviewForm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Deel jouw ervaring met Bolle Henkie</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group has-feedback">
                    <label for="reviewOffer" class="control-label">Bijles</label>
                        <select class="form-control" id="reviewOffer" name="reviewOffer">
                            <?php foreach ($offers as $offer) { ?>
                            <option value=<?=$offer["id"]?>><?=$offer["subject.name"]?> (<?=$offer["level.name"]?>)</option>
                            <?php } ?>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label class="text-success">
                                <input type="checkbox" id="reviewEndorsed" name="reviewEndorsed" checked> <strong>Ik raad deze bijles docent aan</strong>
                            </label>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                    <label for="reviewDesc" class="control-label">Jouw ervaring (optioneel)</label>
                        <p id="charCounter" class="pull-right"></p>
                        <textarea id="reviewDesc" name="reviewDesc" class="form-control" rows="3" maxlength="500" placeholder="Beschrijf jouw bijles ervaring met Bolle Henkie" style="resize:vertical;"></textarea>
                    </div>
                    <div id="warningContent" class="text-center hidden">
                        <p class="lead no-bottom-margin">Je staat op het punt een negatieve recensie achter te laten, druk op versturen als je dit zeker weet</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Versturen</button>
                </div>
            </div>
        </form>
    </div>
</div>
