        <!-- Selling points container -->
        <div class="container maincontent">

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-5">
                    <h2 class="featurette-heading">Vind snel en gemakkelijk bijles. <span class="text-muted ">Bij jou in de buurt.</span></h2>
                    <p class="lead text-justify">Wil jij eenvoudig je cijfers verbeteren door middel van bijles? Zoek dan even op onze website en vind snel de beste bijles docenten bij jou in de buurt. Je kan zoeken op vak en locatie, zo vind je makkelijk de bijles die het beste is voor jou.</p>
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading">Gegarandeerde kwaliteit. <span class="text-muted">Door onze Facebook verificatie.</span></h2>
                    <p class="lead text-justify">Al onze bijles aanbieders moeten zich verifi&euml;ren door hun account te koppelen aan Facebook. Dit zorgt ervoor dat er geen nepaanbieders op onze website kunnen registreren, omdat deze niet door de Facebook verificatie komen. Daarnaast zit er op deze manier dus ook altijd een gezicht bij een aanbieding en kun je eenvoudig even op zijn of haar Facebook kijken.</p>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">In jouw buurt bijles geven. <span class="text-muted">Zonder gedoe.</span></h2>
                    <p class="lead text-justify">Nadat je een account hebt aangemaakt is het mogelijk om op je profiel aan te geven dat je ook bijles wil geven. Selecteer de vakken waarin je bijles wil gaan geven en voeg een korte beschrijving van jezelf toe. Dat was het, je staat nu in onze zoekresultaten. Zo makkelijk is het om bij ons bijles aan te bieden.</p>
                </div>
                <div class="col-md-5">
                    <h2 class="featurette-heading">Eenvoudig vergelijken. <span class="text-muted">Met onze uitgebreide reviews.</span></h2>
                    <p class="lead text-justify">Nadat je bijles hebt gehad via onze site krijg je de mogelijkheid een review te plaatsen bij de bijles aanbieder. Zo kan de volgende persoon die op zoek is naar bijles eenvoudig zien welke bijles aanbieding de beste is.</p>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-5">
                    <h2 class="featurette-heading"><span class="text-muted"></span></h2>
                    <p class="lead text-justify"></p>
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading"><span class="text-muted"></span></h2>
                    <p class="lead text-justify"></p>
                </div>
            </div>

        </div>
