<div class="container main-content" style="margin-top: 0;">

    <div class="row" style="margin-top: 20px;">

        <?php
        $keys = array_keys($results);
        for ($i = 0; $i < count($results); $i++) {
        ?>

        <div class="col-xs-6 col-sm-3">
            <div class="panel panel-default search-result">

                <div class="panel-heading text-center"><?=$results[$i]["distance"]?>km</div>

                <div class="panel-body">

                    <div class="profile-pic">
                        <a href="/index.php?page=profile&id=<?=$results[$i]["user_id"]?>">
                            <img src="<?=$results[$i]["photo_id"]?>" alt="<?=$results[$i]["name"]?>
                            <?=$results[$i]["surname"]?>" class="img-thumbnail">
                        </a>
                        <?php if ($results[$i]["no_endorsed"]) { ?>
                        <span class="endorsment-indicator endorsment-indicator-lg glyphicon label-success visible-xs visible-lg">
                            &#xe125;<?=$results[$i]["no_endorsed"]?>
                        </span>
                        <span class="endorsment-indicator endorsment-indicator-sm glyphicon label-success visible-sm">
                            &#xe125;<?=$results[$i]["no_endorsed"]?>
                        </span>
                        <span class="endorsment-indicator endorsment-indicator-md glyphicon label-success visible-md">
                            &#xe125;<?=$results[$i]["no_endorsed"]?>
                        </span>
                        <?php } ?>
                    </div>
                    <h4 class="offer-name text-center no-bottom-margin">
                        <?=$results[$i]["name"]?> <?=$results[$i]["surname"]?>
                    </h4>
                </div>
                <?php if ($results[$i]["no_reviews"]) { ?>
                <a href="/index.php?page=profile&id=<?=$results[$i]["user_id"]?>#reviews" class="btn btn-block btn-primary btn-sm">
                    <?=$results[$i]["no_reviews"]?> recensies
                </a>
                <?php } else { ?>
                <a href="/index.php?page=profile&id=<?=$results[$i]["user_id"]?>" class="btn btn-block btn-default btn-sm disabled">
                    Geen recensies
                </a>
                <?php } ?>

            </div>
        </div>

        <?php } ?>

    </div>

    <div class="row container-fluid">

        <ul class="pager" style="margin-top: 0;">
            <li class="previous disabled"><a href="#">Vorige</a></li>
            <li class="next"><a href="#">Volgende</a></li>
        </ul>

    </div>

</div>
