        <!-- Search results -->
        <div class="container main-content">

            <!-- <div class="row"> -->
            <!--  -->
            <!--     <div class="col&#45;sx&#45;12"> -->
            <!--  -->
            <!--         <ul class="nav nav&#45;pills"> -->
            <!--             <li class="active"><a href="#">Home</a></li> -->
            <!--             <li><a href="#">Profile</a></li> -->
            <!--             <li class="disabled"><a href="#">Disabled</a></li> -->
            <!--             <li class="dropdown"> -->
            <!--                 <a class="dropdown&#45;toggle" data&#45;toggle="dropdown" href="#"> -->
            <!--                     Dropdown <span class="caret"></span> -->
            <!--                 </a> -->
            <!--                 <ul class="dropdown&#45;menu"> -->
            <!--                     <li><a href="#">Action</a></li> -->
            <!--                     <li><a href="#">Another action</a></li> -->
            <!--                     <li><a href="#">Something else here</a></li> -->
            <!--                     <li class="divider"></li> -->
            <!--                     <li><a href="#">Separated link</a></li> -->
            <!--                 </ul> -->
            <!--             </li> -->
            <!--         </ul> -->
            <!--  -->
            <!--     </div> -->
            <!--  -->
            <!-- </div> -->

            <!-- Top row -->
            <div class="row">

            <?php
                 $keys = array_keys($results);
                 for ($i = 0; $i < count($results); $i++) {
            ?>

                <div class="col-xs-6 col-sm-3">
                    <div class="panel panel-default search-result">

                        <div class="panel-heading text-center"><?=$results[$i]["distance"]?>km</div>

                        <div class="panel-body">

                            <div class="profile-pic">
                                <a href="/index.php?page=profile&id=<?=$results[$i]["user_id"]?>">
                                    <img src="<?=$results[$i]["photo_id"]?>" alt="<?=$results[$i]["name"]?>
                                    <?=$results[$i]["surname"]?>" class="img-thumbnail">
                                </a>
                                <?php if ($results[$i]["no_endorsed"]) { ?>
                                    <span class="endorsment-indicator endorsment-indicator-lg glyphicon label-success visible-xs visible-lg">
                                        &#xe125;<?=$results[$i]["no_endorsed"]?>
                                    </span>
                                    <span class="endorsment-indicator endorsment-indicator-sm glyphicon label-success visible-sm">
                                        &#xe125;<?=$results[$i]["no_endorsed"]?>
                                    </span>
                                    <span class="endorsment-indicator endorsment-indicator-md glyphicon label-success visible-md">
                                        &#xe125;<?=$results[$i]["no_endorsed"]?>
                                    </span>
                                <?php } ?>
                            </div>
                            <h4 class="offer-name text-center no-bottom-margin">
                                <?=$results[$i]["name"]?> <?=$results[$i]["surname"]?>
                            </h4>
                        </div>
                        <?php if ($results[$i]["no_reviews"]) { ?>
                        <a href="/index.php?page=profile&id=<?=$results[$i]["user_id"]?>#reviews" class="btn btn-block btn-primary btn-sm">
                            <?=$results[$i]["no_reviews"]?> recensies
                        </a>
                        <?php } else { ?>
                        <a href="/index.php?page=profile&id=<?=$results[$i]["user_id"]?>" class="btn btn-block btn-default btn-sm disabled">
                            Geen recensies
                        </a>
                        <?php } ?>

                    </div>
                </div>

                <?php } ?>

            </div>

        </div>
