
        <!-- Main container -->
        <div class="container maincontent">

            <!-- Profile -->
            <div class="row ">

                <div class="col-sm-3 lead">
                    <div class="well">
                        <img src="<?=$photo?>" class="img-responsive img-thumbnail center-block bottommargin" alt="<?=$name?> <?=$surname?>">
                        <h1 class="notopmargin text-center visible-xs"><?=$name?> <?=$surname?></h1>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 80%"></div>
                            <div class="progress-bar progress-bar-warning" style="width: 20%"></div>
                        </div>
                        <p class="zeromargin"><span class="text-muted hidden-sm hidden-md">Locatie</span> <span id="userLocation"><?=$city?></span></p>
                        <?php if ($age) { ?>
                        <p class="zeromargin"><span class="text-muted hidden-sm hidden-md">Leeftijd</span> <?=$age?></p>
                        <?php } ?>
                    </div>

                    <?php if (!$own_profile && $logged_in && $num_offers) { ?>
                    <div class="row" >
                        <a href="#" data-toggle="modal" data-target="#contactusermodal" class="btn btn-primary glyphicon col-xs-6">&#x2709;</a>
                        <a href="#" data-toggle="modal" data-target="#reviewmodal" class="btn btn-success glyphicon col-xs-6">&#xe065;</a>
                    </div>
                    <?php } ?>

                </div>

                <div class="col-sm-9 lead">

                    <h1 class="notopmargin hidden-xs"><?=$name?> <?=$surname?></h1>

                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#profile" data-toggle="tab" aria-expanded="true">Profiel</a></li>
                        <li class=""><a href="#offers" data-toggle="tab" aria-expanded="false">Vakken (<span id="numOffers"><?=$num_offers?></span>)</a></li>
                    </ul>

                    <div id="myTabContent" class="tab-content topmargin" >

                        <?php if($own_profile) { ?>
                        <script src="js/editprofile.js"></script>
                        <?php } ?>
                        <!-- Profile tab -->
                        <div class="tab-pane fade active in" id="profile">
                            <?php if ($own_profile) { ?>
                            <button data-toggle="modal" id="editProfileBtn" data-target="#editProfileModal" class="btn btn-primary btn-sm glyphicon pull-right" style="margin: 0 0 10px 10px;">&#x270f;</button>
                            <?php } ?>
                            <p id="userDescription"><?=$description?></p>
                        </div>

                        <?php if($own_profile) { ?>
                        <script src="js/removeoffers.js"></script>
                        <?php } ?>

                        <!-- Offers tab -->
                        <div class="tab-pane fade" id="offers">
                            <table id="offerTable" class="table table-striped table-hover vcenter">
                                <thead>
                                    <tr>
                                        <th class="col-xs-8">Vaknaam</th>
                                        <th class="col-xs-3">Niveau</th>
                                        <th class="col-xs-1">
                                            <?php if($own_profile) { ?>
                                            <button id="addOffersBtn" data-toggle="modal" data-target="#addOffersModal" class="btn btn-success btn-sm btn-block glyphicon pull-right">&#x2b;</a>
                                            <?php } ?>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php if (isset($offers) && $num_offers) {
                                          foreach ($offers as $offer) { ?>

                                    <tr id="offerRow_<?=$offer["id"]?>" class="offerRow">
                                        <td class="subjectName"><?=$offer["subject.name"]?></td>
                                        <td class="levelName"><?=$offer["level.name"]?></td>
                                        <td>
                                            <?php if($own_profile) { ?>
                                            <button name="<?=$offer["subject.name"]?>" value="<?=$offer["id"]?>" class="deleteOfferBtn btn btn-block btn-sm btn-danger glyphicon" style="opacity: 0;" type="button">&#xe014;</button>
                                            <?php } ?>
                                        </td>
                                    </tr>

                                    <?php }} ?>

                                    <tr id="offerRow" class="offerRow hidden">
                                        <td class="subjectName">subject name</td>
                                        <td class="levelName">level name</td>
                                        <td>
                                            <?php if($own_profile) { ?>
                                            <button name="<?=$offer["subject.name"]?>" value="<?=$offer["id"]?>" class="deleteOfferBtn btn btn-block btn-sm btn-danger glyphicon" style="opacity: 0;" type="button">&#xe014;</button>
                                            <?php } ?>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>

