        <!-- Main container -->
        <div class="container">

            <!-- Profile -->
            <div class="row ">

                <div class="col-sm-3 lead">
                    <div class="well">
                        <img src="img/profile/3.jpg" class="img-responsive img-thumbnail center-block bottommargin" alt="Henk Honk">
                        <h1 class="notopmargin text-center visible-xs"><?=$name?> <?=$surname?></h1>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 80%"></div>
                            <div class="progress-bar progress-bar-warning" style="width: 20%"></div>
                        </div>
                        <p class="zeromargin"><span class="text-muted hidden-sm hidden-md">Locatie</span> <?=$city?></p>
                        <?php if ($age) { ?>
                        <p class="zeromargin"><span class="text-muted hidden-sm hidden-md">Leeftijd</span> <?=$age?></p>
                        <?php } ?>
                    </div>

                    <?php if ($logged_in) { ?>
                    <div class="row" >
                        <a href="#" data-toggle="modal" data-target="#contactusermodal" class="btn btn-primary glyphicon col-xs-6">&#x2709;</a>
                        <a href="#" data-toggle="modal" data-target="#reviewmodal" class="btn btn-success glyphicon col-xs-6">&#xe065;</a>
                    </div>
                    <?php } ?>

                </div>

                <div class="col-sm-9 lead">

                    <h1 class="notopmargin hidden-xs"><?=$name?> <?=$surname?></h1>

                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#profile" data-toggle="tab" aria-expanded="true">Profiel</a></li>
                        <li class=""><a href="#offers" data-toggle="tab" aria-expanded="false">Vakken</a></li>
                    </ul>

                    <div id="myTabContent" class="tab-content topmargin" >

                        <!-- Profile tab -->
                        <div class="tab-pane fade active in" id="profile">
                            <?php if ($own_profile) { ?>
                            <a href="#" data-toggle="modal" data-target="#editmodal" class="btn btn-primary btn-sm glyphicon pull-right" style="margin: 0 0 10px 10px;">&#x270f;</a>
                            <?php } ?>
                            <p><?=$description?></p>
                        </div>

                        <!-- Offers tab -->
                        <div class="tab-pane fade" id="offers">
                            <table class="table table-striped table-hover vcenter">
                                <thead>
                                    <tr>
                                        <th class="col-xs-8">Vaknaam</th>
                                        <th class="col-xs-3">Niveau</th>
                                        <th class="col-xs-1">
                                            <?php if($own_profile) { ?>
                                            <a href="#" data-toggle="modal" data-target="#addsubjectsmodal" class="btn btn-success btn-sm btn-block glyphicon pull-right">&#x2b;</a>
                                            <?php } ?>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ($offers as $offer) { ?>

                                    <tr>
                                        <td><?=$offer["subject.name"]?></td>
                                        <td><?=$offer["level.name"]?></td>
                                        <td>
                                            <?php if($own_profile) { ?>
                                            <a href="#" class="btn btn-danger btn-sm btn-block glyphicon pull-right">&#xe014;</a>
                                            <?php } elseif ($logged_in) { ?>
                                            <a href="#" class="btn btn-primary btn-sm btn-block glyphicon pull-right">&#x2709;</a>
                                            <?php } ?>
                                        </td>
                                    </tr>

                                    <?php } ?>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>

