<!-- Search container -->
<script>
$(function() {
    var availableTags = [
        "Wiskunde A",
        "Wiskunde B",
        "Wiskunde C",
        "Wiskunde D",
        "Natuurkunde",
        "Scheikunde",
        "ANW",
        "Informatica",
        "Biologie",
        "Economie",
        "Aardrijkskunde",
        "Geschiedenis",
        "M&O",
        "Maatschappijleer",
        "Filosofie",
        "Frans",
        "Spaans",
        "Grieks",
        "Latijn",
        "Nederlands",
        "Engels",
        "Duits",
        "Natuurkunde",
        "Scheikunde",
        "Aarde en Economie",
        "Aardewetenschappen",
        "Accountancy",
        "Actuariële Wetenschappen",
        "Advanced Technology",
        "Afrikaanse talen en culturen",
        "Agrotechnologie",
        "Algemene Cultuurwetenschappen",
        "Algemene Sociale Wetenschappen",
        "American Studies",
        "Arabische Taal en Cultuur",
        "Archeologie",
        "Bedrijfs- en Consumentenwetenschappen",
        "Bedrijfseconomie",
        "Bedrijfsinformatie-technologie",
        "Bedrijfskunde",
        "Bestuurs- en Organisatiewetenschap",
        "Bestuurskunde",
        "Beta-gamma",
        "Bewegingswetenschappen",
        "Bio-Farmaceutische Wetenschappen",
        "Biologie",
        "Biomedische Technologie",
        "Biomedische Wetenschappen",
        "Biotechnologie",
        "Bodem, Water, Atmosfeer",
        "Bos- en Natuurbeheer",
        "Bouwkunde",
        "Business Analytics",
        "Chinastudies",
        "Civiele Techniek",
        "Communicatie- en Informatiewetenschappen",
        "Communicatiewetenschap",
        "Computer Science",
        "Creative Technology",
        "Criminologie",
        "Culturele Antropologie en Ontwikkelingssociologie",
        "Culturele Informatiewetenschap",
        "Cultuurwetenschappen",
        "Diergeneeskunde",
        "Dierwetenschappen",
        "Duitse Taal en Cultuur",
        "Econometrie en Operationele Research",
        "Economie",
        "Economie en Bedrijfseconomie",
        "Economie en Bedrijfskunde",
        "Economie en Beleid",
        "Electrical Engineering",
        "Engelse Taal en Cultuur",
        "English Language and Culture",
        "European Law School",
        "European Public Administration",
        "European Public Health",
        "Europese Studies",
        "Europese Talen en Culturen",
        "Farmaceutische Wetenschappen",
        "Farmacie",
        "Film- en Literatuurwetenschap",
        "Filosofie",
        "Fiscaal Recht",
        "Fiscale Economie",
        "Franse Taal en Cultuur",
        "Future Planet Studies",
        "Geneeskunde",
        "Geografie, Planologie en Milieu",
        "Geschiedenis",
        "Gezondheid en Leven",
        "Gezondheid en Maatschappij",
        "Gezondheidswetenschappen",
        "Global Law",
        "Griekse en Latijnse Taal en Cultuur",
        "Hebreeuwse Taal en Cultuur",
        "Humanistiek",
        "Industrieel Ontwerpen",
        "Informatica",
        "Informatie, Multimedia en Management",
        "Informatiekunde",
        "Internationaal en Europees Recht",
        "Internationaal Land- en Waterbeheer",
        "International Bachelor's Programme in Communication",
        "International Business",
        "International Business Administration",
        "International Studies",
        "Internationale Betrekkingen en Internationale Organisatie",
        "Internationale Ontwikkelingsstudies",
        "Islam en Arabisch",
        "Italiaanse Taal en Cultuur",
        "Japanstudies",
        "Keltische Talen en Cultuur",
        "Kennistechnologie",
        "Klinische Technologie",
        "Koreastudies",
        "Krijgswetenschappen",
        "Kunsten, Cultuur en Media",
        "Kunstgeschiedenis",
        "Kunstmatige Intelligentie",
        "Landschapsarchitectuur en ruimtelijke planning",
        "Latijns-Amerikastudie",
        "Latijnse Taal en Cultuur",
        "Levensmiddelentechnologie",
        "Liberal Arts and Sciences",
        "Life Science and Technology",
        "Lifestyle Informatics",
        "Literatuur en Samenleving",
        "Literatuurwetenschap",
        "Luchtvaart- en Ruimtevaarttechniek",
        "Maritieme Techniek",
        "Media en Cultuur",
        "Media, Kunst, Design en Architectuur",
        "Medische Informatiekunde",
        "Medische Natuurwetenschappen",
        "Midden-Oostenstudies",
        "Milieu-maatschappijwetenschappen",
        "Milieu-natuurwetenschappen",
        "Milieuwetenschappen",
        "Militaire Bedrijfswetenschappen",
        "Militaire Systemen & Technologie",
        "Minorities & Multilingualism",
        "Moleculaire Levenswetenschappen",
        "Molecular Science and Technology",
        "Muziekwetenschap",
        "Nanobiologie (joint degree)",
        "Natuur- en Sterrenkunde",
        "Natuurkunde",
        "Natuurwetenschap en Innovatiemanagement",
        "Nederlandkunde/Dutch Studies",
        "Nederlandse Taal en Cultuur",
        "Nieuwgriekse Taal en Cultuur",
        "Notarieel Recht",
        "Onderwijskunde",
        "Organisatiewetenschappen",
        "Oude Culturen van de Mediterrane Wereld",
        "Oudheidkunde",
        "Pedagogische Wetenschappen",
        "Personeelwetenschappen",
        "Plantenwetenschappen",
        "Politicologie",
        "Politics, Psychology, Law and Economics",
        "Psychobiologie",
        "Psychologie",
        "Rechtsgeleerdheid",
        "Religiewetenschappen",
        "Romaanse Talen en Culturen",
        "Russische Studies",
        "Scandinavische Talen en Culturen",
        "Scheikunde",
        "Scheikundige Technologie",
        "Science, Business & Innovation",
        "Slavische Talen en Culturen",
        "Sociale Geografie en Planologie",
        "Sociologie",
        "Spaanse Taal en Cultuur",
        "Sterrenkunde",
        "Taal- en Cultuurstudies",
        "Taalwetenschap",
        "Tandheelkunde",
        "Technische Aardwetenschappen",
        "Technische Bedrijfskunde",
        "Technische Bestuurskunde",
        "Technische Informatica",
        "Technische Innovatiewetenschappen",
        "Technische Natuurkunde",
        "Technische Planologie",
        "Technische Wiskunde",
        "Technology and Liberal Arts & Sciences",
        "Theaterwetenschap",
        "Theologie",
        "Tourism (joint degree)",
        "Voeding en Gezondheid",
        "Vrijetijdwetenschappen",
        "Werktuigbouwkunde",
        "Wijsbegeerte",
        "Wijsbegeerte van een Bepaald Wetenschapsgebied",
        "Wiskunde",
        "Accountancy",
        "Actuarieel Analist",
        "Advanced Business Creation",
        "Allround Styling",
        "Applied Behavioral and Social Sciences",
        "Applied Science",
        "Archeologie",
        "Automotive",
        "Autonome Beeldende Kunst",
        "Aviation",
        "Bachelor of Business Administration in Fashion",
        "Bachelor of Cabaret",
        "BBA Bedrijfskunde",
        "Bedrijfseconomie",
        "Bedrijfskunde",
        "Bedrijfskunde en Agribusiness",
        "Bedrijfskundige Informatica",
        "Beeldende Kunst en Vormgeving",
        "Bestuurskunde",
        "Bestuurskunde/Overheidsmanagement",
        "Bio-informatica",
        "Biologie en Medisch Laboratoriumonderzoek",
        "Biotechnologie",
        "Bos- en Natuurbeheer",
        "Bouwkunde",
        "Built Environment",
        "Business Administration",
        "Business Administration in Hotel Management",
        "Business IT & Management",
        "Business Management",
        "Business Studies",
        "Chemie",
        "Chemische Technologie",
        "Circus and Performance Art",
        "Circus Arts",
        "Civiele Techniek",
        "Commercieel Management",
        "Commerciële Economie",
        "Communicatie",
        "Communicatie en Organisatie",
        "Communicatiesystemen",
        "Communication and Multimedia Design",
        "Creatieve Therapie",
        "Creative Media and Game Technologies",
        "Cultureel Erfgoed",
        "Culturele en Maatschappelijke Vorming",
        "Dans",
        "Dier- en Veehouderij",
        "Diermanagement",
        "Docent Beeldende Kunst en Vormgeving",
        "Docent Dans",
        "Docent Muziek",
        "Docent Theater",
        "Educatie en Kennismanagement Groene Sector",
        "Elektrotechniek",
        "Engineering",
        "European Studies",
        "Facility Management",
        "Farmaceutisch Consulent",
        "Farmakunde",
        "Fashion & Textile Technologies",
        "Film en Televisie",
        "Financial Services Management",
        "Financieel Economisch Management",
        "Fiscaal Recht en Economie",
        "Food and Business",
        "Food Commerce & Technology",
        "Food Design and Innovation",
        "Forensisch Onderzoek",
        "Functiegerichte Bachelor in Toerisme en Recreatie",
        "Geo Media & Design",
        "Global Project and Change Management",
        "Godsdienst-pastoraal Werk",
        "Greenport Business & Retail",
        "Hartfunctielaborant",
        "HBO - Rechten",
        "HBO-ICT",
        "Hoger Hotelonderwijs",
        "Hoger Toeristisch en Recreatief Onderwijs",
        "Hogere Juridische Opleiding",
        "Hogere Managementopleiding voor de Mobiliteitsbranche",
        "Hospitality & Evenementen Management",
        "Hospitality & Events Management",
        "Hotel- en Eventmanagement",
        "Huidtherapie",
        "Human Resource Management",
        "Industrieel Product Ontwerpen",
        "Informatica",
        "Informatie en Communicatie Technologie",
        "Integrale Veiligheid",
        "Integrale Veiligheidskunde",
        "Interior Design & Styling",
        "Internationaal Toeristisch Management",
        "International Business",
        "International Business & Entrepreneurship",
        "International Business Administration",
        "International Business and Languages",
        "International Business and Management Studies",
        "International Business Innovation Studies",
        "International Business Management",
        "International Development Management",
        "International Food & Agribusiness",
        "International Fresh Business Management",
        "International Hotel & Hospitality Management",
        "Islamitische Theologie",
        "IT-Service Management",
        "Journalistiek",
        "Kunst en Economie",
        "Kunstzinnige Therapie",
        "Kust en Zee Management",
        "Laborant Klinische Neurofysiologie",
        "Land- en Watermanagement",
        "Landscape and Environment Management",
        "Leraar Nederlandse Gebarentaal (NGT) / Bacheloropleiding [...]",
        "Lerarenopleiding 1e graad Lichamelijke Opvoeding",
        "Lerarenopleiding 2e graad Aardrijkskunde",
        "Lerarenopleiding 2e graad Algemene Economie",
        "Lerarenopleiding 2e graad Bedrijfseconomie",
        "Lerarenopleiding 2e graad beeldende vorming",
        "Lerarenopleiding 2e graad Biologie",
        "Lerarenopleiding 2e graad Consumptieve Techniek I en II",
        "Lerarenopleiding 2e graad Duits",
        "Lerarenopleiding 2e graad Economie",
        "Lerarenopleiding 2e graad Engels",
        "Lerarenopleiding 2e graad Frans",
        "Lerarenopleiding 2e graad Fries",
        "Lerarenopleiding 2e graad Geschiedenis",
        "Lerarenopleiding 2e graad Gezondheidszorg en Welzijn",
        "Lerarenopleiding 2e graad Godsdienst",
        "Lerarenopleiding 2e graad Islamgodsdienst",
        "Lerarenopleiding 2e graad Maatschappijleer",
        "Lerarenopleiding 2e graad Mens en Technologie",
        "Lerarenopleiding 2e graad Natuurkunde",
        "Lerarenopleiding 2e graad Nederlands",
        "Lerarenopleiding 2e graad Omgangskunde",
        "Lerarenopleiding 2e graad Pedagogiek",
        "Lerarenopleiding 2e graad Scheikunde",
        "Lerarenopleiding 2e graad Spaans",
        "Lerarenopleiding 2e graad Talen",
        "Lerarenopleiding 2e graad Techniek",
        "Lerarenopleiding 2e graad Technisch Beroepsonderwijs",
        "Lerarenopleiding 2e graad Verzorging/Gezondheidskunde",
        "Lerarenopleiding 2e graad Verzorging/Huishoudkunde",
        "Lerarenopleiding 2e graad Wiskunde",
        "Lerarenopleiding Basisonderwijs",
        "Lifestyle",
        "Logistics Engineering",
        "Logistiek en Economie",
        "Longfunctieanalist",
        "Luchtvaarttechnologie",
        "Maatschappelijk Werk en Dienstverlening",
        "Management",
        "Management in de Zorg",
        "Management Payroll Services",
        "Management van Informatie",
        "Management, Economie en Recht",
        "Maritiem Officier",
        "Maritieme Techniek",
        "Marketing Communicatie",
        "Mechatronica",
        "Media en Entertainment Management",
        "Media, Informatie en Communicatie",
        "Medisch Beeldvormende en Radiotherapeutische Technieken",
        "Medische Hulpverlening",
        "Mens en Techniek",
        "Milieukunde",
        "Mondzorgkunde",
        "Muziek",
        "Muziektherapie",
        "New Business",
        "Ocean Technology",
        "Oefentherapie Cesar",
        "Office Management",
        "Ondernemerschap",
        "Opleiding Podotherapie",
        "Opleiding Tolk-Vertaler",
        "Opleiding tot Fysiotherapeut",
        "Opleiding tot Oefentherapeut-Mensendieck",
        "Opleiding tot Verpleegkundige",
        "Opleiding voor Ergotherapie",
        "Opleiding voor Logopedie",
        "Opleidingskunde",
        "Optometrie",
        "Organisatiepsychologie",
        "Oriëntaalse Talen en Communicatie",
        "Orthoptie",
        "Pedagogiek",
        "Pedagogisch Management Kinderopvang",
        "Pensions",
        "People and Business Management",
        "Plattelandsvernieuwing",
        "Policing",
        "Popular Culture",
        "Psychomotorische Therapie en Bewegingsagogie",
        "Public Administration",
        "Rechten",
        "Ruimtelijke Ontwikkeling",
        "Scheepsbouwkunde / Maritieme Techniek",
        "Security Management",
        "Small Business and Retail Management",
        "Small Business en Retail Management",
        "Sociaal Pedagogische Hulpverlening",
        "Sociaal-Juridische Dienstverlening",
        "Social Work",
        "SPD Bedrijfsadministratie",
        "Sport en Bewegen",
        "Sport en Bewegingseducatie",
        "Sport, Gezondheid en Management",
        "Sport, Management en Ondernemen",
        "SZ-Professional",
        "Technische Bedrijfskunde",
        "Technische Informatica",
        "Technische Natuurkunde",
        "Theater",
        "Toegepaste Bedrijfskunde",
        "Toegepaste Biologie",
        "Toegepaste Fotografie en Beeldcommunicatie",
        "Toegepaste Gerontologie",
        "Toegepaste Psychologie",
        "Toegepaste Wiskunde",
        "Toerisme en Recreatie",
        "Trade Management gericht op Azië",
        "Tuin- en Landschapsinrichting",
        "Tuinbouw en Akkerbouw",
        "Vastgoed en Makelaardij",
        "Verkeer en Logistiek",
        "Verloskunde",
        "Vertaalacademie",
        "Vertaler Duits",
        "Vertaler Engels",
        "Vertaler Frans",
        "Vertaler Spaans",
        "Vitaliteitsmanagement & Toerisme",
        "Voeding en Diëtetiek",
        "Voedingsmiddelentechnologie",
        "Vormgeving",
        "Vrijetijdsmanagement",
        "Watermanagement",
        "Werktuigbouwkunde"
            ];
    $( "#subject_id" ).autocomplete({
        source: availableTags
    });
});
</script>
<div class="container-fluid text-center search-bg">

    <img src="img/logo_green.png" alt="Vlakbijles" class="search-logo">

    <div class="container theme-vlakbijles">
        <div class="row search-form">
            <div class="form-group">
                <form action="search.php" method="GET">
                    <div class="col-sm-6">
                        <input type="text" id="subject_id" name="subject_id" class="form-control" placeholder="Vaknaam...">
                    </div>
                    <div class="hidden-lg hidden-md hidden-sm spacer-small">&nbsp;</div>
                    <div class="col-sm-3">
                        <input type="text" name="postal_code" class="form-control" placeholder="1234AB">
                    </div>
                    <div class="hidden-lg hidden-md hidden-sm spacer-small">&nbsp;</div>
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-block btn-danger glyphicon">&#xe003;</button>
                    </div>
                    <div class="hidden-xs spacer-small">&nbsp;</div>
                </form>
            </div>
        </div>
    </div>

</div>
