<script src="js/loadsubjects.js"></script>
<script src="js/autocomplete.js"></script>

<!-- Search container -->
<div class="container-fluid text-center search-bg">
    <img src="img/logo_green.png" alt="Vlakbijles" class="search-logo">
    <div class="container theme-vlakbijles">
        <div class="row search-form">
            <div class="form-group">
                <form id="searchForm" action="index.php" method="GET">
                    <input type="hidden" name="page" value="offers">
                    <input type="hidden" id="subject_id" name="subject_id" value="">
                    <div class="col-sm-6">
                        <input type="text" id="subjectName" class="form-control subjectName" placeholder="Vaknaam...">
                    </div>
                    <div class="hidden-lg hidden-md hidden-sm spacer-small">&nbsp;</div>
                    <div class="col-sm-3">
                        <input type="text" id="postal_code" name="postal_code" maxlength="6" class="form-control" placeholder="1234AB" value="<?php if(isset($postal_code)) echo $postal_code; ?>">
                    </div>
                    <div class="hidden-lg hidden-md hidden-sm spacer-small">&nbsp;</div>
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-block btn-danger glyphicon">&#xe003;</button>
                    </div>
                    <div class="hidden-xs spacer-small">&nbsp;</div>
                </form>
            </div>
        </div>
    </div>
</div>
