<div class="container main-content" style="margin-top: 20px;">
    <div class="row container-fluid">
        <div class="col-sx-12 btn-group pull-right">

            <div class="btn-group">
                <a href="#" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Niveau
                    <strong><?php
                    switch($level_id) {
                        case 1: echo "VMBO"; break;
                        case 2: echo "HAVO"; break;
                        case 3: echo "VWO"; break;
                        case 4: echo "HBO"; break;
                        case 5: echo "WO"; break;
                        default: echo "Alle";
                    }
                    ?></strong>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/index.php?page=offers&order_by=<?=$order_by?>&p=1&level_id=0&subject_id=<?=$subject_id?>&subject_name=<?=$subject_name?>&postal_code=<?=$postal_code?>">Alle</a></li>
                    <li class="divider"></li>
                    <li><a href="/index.php?page=offers&order_by=<?=$order_by?>&p=1&level_id=1&subject_id=<?=$subject_id?>&subject_name=<?=$subject_name?>&postal_code=<?=$postal_code?>">VMBO</a></li>
                    <li><a href="/index.php?page=offers&order_by=<?=$order_by?>&p=1&level_id=2&subject_id=<?=$subject_id?>&subject_name=<?=$subject_name?>&postal_code=<?=$postal_code?>">HAVO</a></li>
                    <li><a href="/index.php?page=offers&order_by=<?=$order_by?>&p=1&level_id=3&subject_id=<?=$subject_id?>&subject_name=<?=$subject_name?>&postal_code=<?=$postal_code?>">VWO</a></li>
                    <li><a href="/index.php?page=offers&order_by=<?=$order_by?>&p=1&level_id=4&subject_id=<?=$subject_id?>&subject_name=<?=$subject_name?>&postal_code=<?=$postal_code?>">HBO</a></li>
                    <li><a href="/index.php?page=offers&order_by=<?=$order_by?>&p=1&level_id=5&subject_id=<?=$subject_id?>&subject_name=<?=$subject_name?>&postal_code=<?=$postal_code?>">WO</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <a href="#" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Sorteren op
                    <strong><?php
                    switch($order_by) {
                        case "distance": echo "Afstand"; break;
                        case "no_endorsed": echo "Aantal aanbevelingen"; break;
                        case "no_reviews": echo "Aantal recensies"; break;
                        default: echo "afstand";
                    }
                    ?></strong>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/index.php?page=offers&order_by=distance&p=1&level_id=<?=$level_id?>&subject_id=<?=$subject_id?>&subject_name=<?=$subject_name?>&postal_code=<?=$postal_code?>">Afstand</a></li>
                    <li><a href="/index.php?page=offers&order_by=no_endorsed&p=1&level_id=<?=$level_id?>&subject_id=<?=$subject_id?>&subject_name=<?=$subject_name?>&postal_code=<?=$postal_code?>">Aantal aanbevelingen</a></li>
                    <li><a href="/index.php?page=offers&order_by=no_reviews&p=1&level_id=<?=$level_id?>&subject_id=<?=$subject_id?>&subject_name=<?=$subject_name?>&postal_code=<?=$postal_code?>">Aantal recensies</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
